/*
File Name: palette.css
Date: 9/4/19 - revisited.
One year ago this was new tech (CSS)
Programmer: MARIOMAX
*/
@import url("https://fonts.googleapis.com/css?family=Ropa+Sans:400,400i&display=swap");
@import url("https://use.typekit.net/waw0nhd.css");
body {
  font-size: 16px;
  max-width: 1440px;
  margin: 0 auto;
}
body h1,
body h2 {
  color: #202020;
  font-family: rosewood-std-fill, serif;
  font-size: 3rem;
  padding: 1.5rem 0 1.5rem;
}
body h2 {
  color: #9D6A0B;
  font-size: 1.5rem;
  line-height: 1.2;
  padding: 0.5rem;
  text-align: center;
}
body h3,
body h4,
body p,
body a,
body li,
body figcaption {
  color: #3E3E32;
  font-family: "Ropa Sans", serif;
}
body h3 {
  color: #202020;
  font-size: 1.5rem;
  line-height: 1.1;
  padding: 0.5rem 0.5rem 1.5rem;
  text-align: center;
}
body h4 {
  color: #202020;
  font-size: 1.3rem;
  font-weight: 600;
  text-align: center;
}
body h4.contact {
  color: #9D6A0B;
  padding-bottom: 2rem;
}
body hr.break {
  border: 0;
  height: 2px;
  background: #ECC230;
  background-image: -webkit-gradient(linear, left top, right top, from(#FFF), color-stop(#ECC230), to(#FFF));
  background-image: linear-gradient(to right, #FFF, #ECC230, #FFF);
  width: 80vw;
  margin: 2rem;
}
body header {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(153, 120, 43, 0.3)), to(rgba(153, 120, 43, 0.8))), url(../images/honeycomb-light.jpg);
  background: linear-gradient(0deg, rgba(153, 120, 43, 0.3), rgba(153, 120, 43, 0.8)), url(../images/honeycomb-light.jpg);
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  height: auto;
}
body header img.block-logo {
  padding: 2rem;
  max-width: 75%;
  height: auto;
}
body header img.inline-logo {
  display: none;
}
body main section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 2rem 1.5rem 0;
}
body main section img.honey-logo {
  height: auto;
  max-width: 80vw;
}
body main section img.honey-sticks {
  display: block;
  height: auto;
  max-width: 100vw;
}
body main section p {
  font-size: 1.2rem;
  padding-bottom: 0.5rem;
}
body main section ul {
  -ms-flex-item-align: start;
  align-self: flex-start;
  padding: 0.5rem 10% 1rem;
}
body main section ul li {
  font-size: 20px;
  line-height: 1.5;
}
body footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  background: #9D6A0B;
  padding: 0 1rem 1rem;
  text-align: center;
}
body footer .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-line-pack: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 2rem;
}
body footer .social img {
  width: 60px;
  height: auto;
}
body footer .social p {
  color: #FFF;
  font-size: 1.3rem;
  line-height: 1.3;
}
body footer p {
  color: #FFF;
  line-height: 1.5;
}
body footer a {
  color: #FFF;
}
body footer a:hover {
  color: #202020;
  text-decoration: underline;
}
@media (min-width: 768px) {
  body h1 {
    text-align: center;
  }
  body hr.break {
    max-width: 50vw;
  }
  body main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "first second" "third third";
    max-width: 100%;
    padding: 2rem 1rem;
  }
  body main section {
    padding: 0;
  }
  body main section ul {
    padding: .5rem 20% 1rem;
  }
  body main .first-O {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    grid-area: first;
  }
  body main .first-O img.honey-logo {
    height: auto;
    max-width: 30vw;
  }
  body main .second-O {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    grid-area: second;
  }
  body main .third-O {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    grid-area: third;
    padding-top: 2rem;
  }
  body main .third-O img.honey-sticks {
    border-radius: 5px;
    height: auto;
    max-width: 70vw;
  }
  body main .third-O img:first-of-type {
    margin-bottom: 2rem;
  }
  body footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  body footer .social {
    padding: 1rem;
  }
  body footer .footer-copy {
    padding: 1rem;
  }
  body footer a {
    padding: 0 .7rem;
  }
}
@media (min-width: 1024px) {
  body header img.block-logo {
    display: none;
  }
  body header img.inline-logo {
    display: block;
    padding: 4rem 3rem;
    height: auto;
    max-width: 65%;
  }
  body main {
    grid-template-areas: "first second" "third third";
  }
  body main .first-O {
    -ms-flex-item-align: start;
    align-self: flex-start;
    padding-top: 2.5rem;
  }
  body main .third-O .image-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin-bottom: 2rem;
  }
  body main .third-O .image-box img.honey-sticks {
    margin-bottom: 0;
    max-width: 35vw;
  }
  body main .third-O .image-box img:first-of-type {
    margin-right: 4rem;
  }
  body footer .footer-copy p {
    text-align: left;
  }
  body footer .footer-copy a {
    padding: 0;
  }
}
